@font-face 
{
    font-family: 'coiny';
    src: url('/fonts/coiny-regular-webfont.woff');
    src: url('/fonts/coiny-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

a{color:#0060aa}

/*Controls the background of all the navbars*/
.navbar { background-color: #0060aa }

/*Controls the login links.*/
#LoginNav .LoginStuff { color: white; font-size: 1.15em; }

/*This overrides the css of the div that holds the logo, login, and other navigation.*/
.navbar-brand 
{
    margin: 40px 0 30px 0;
    padding: 0;
}

.navbar-brand input {
    font-family: sans-serif;
}

.navbar-brand ul 
{
    list-style-type: none;
    margin-left: 12px;
    padding: 0;
    overflow: visible;
    color: white;
}

.navbar-brand li 
{
    float: left;
    margin: 0 1.5em 0 0;
    padding: 0;
}

.navbar-brand a
{
    color: white;
    text-decoration: none;
    font-family: 'coiny';
    font-size: 3.5em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}


#EventSearch { margin: 5px 0 0 0;}

#EventSearchBox 
{
    padding: 5px 10px 5px 5px;
    border: 0;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 3px 0 0 3px;
    width: 250px;
}

#SearchButton 
{
    margin: 0 0 0 -5px;
    padding: 2px 6px 6px 6px;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 0 3px 3px 0;
    background: lightgray;
    height: 30px;
    color: #555;
}

#SearchDropDown { border: 0; outline: none; }

#SearchButton:hover { background: #003e6d;color: white; }

.navbar-brand:visited { color: white !important }
.navbar-default-color { color: white !important }
.navbar-inverse { color : #00bfff !important }


/*This overrides the css of the login information.*/
.navbar-collapse { margin: 3em 0 0 0; }
.navbar-collapse a 
{     
    color: white;     
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

/*This overrides the css of the body content.*/
.body-content 
{
    margin-top: 60px;
}

#EventSummaryContainer, .EventSummaryContainer 
{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#EventSummary 
{
    max-width: 24%;
    max-height: 50%;
    min-width: 24%;
    display: inline-block;
    border: 1px solid #c9c9c9;
    margin-top: 2em;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    flex-flow: row wrap;
}

#EventSummary > * 
{
    vertical-align: middle;
}

#EventSummary a 
{
    text-decoration: none;
    color: black;
    max-width: inherit;
    max-height: inherit;
}

#EventSummary img 
{
    max-width: inherit;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

#EventText 
{
    padding: 0 1em;
    width: 100%;
}

#EventText h1 
{
    font-size: 1.5em;
    align-content: center;
    padding-top:5px;
    margin: 0;
    font-weight: bold;
}

#EventText p 
{
    max-width: inherit;
    font-style: italic;
}

#Processing 
{
    margin: 25px 0;
    display: flex;
}

#Processing img 
{
    width: 50px;
    height: 50px;
    margin-right: 1em;
}

#Processing p 
{
    font-family: 'coiny';
    font-size: 2em;
    color: #0060aa;
    margin-top: 7px;
}

/*Create Event Page*/
#CreateEventWithGlyph 
{
    display: flex;
    justify-content: space-between;
    max-width: 280px;
}

#CreateEventWithGlyph input 
{
    text-align: left;
    margin: 0 1em;
}

#SetMarkerFromAddressButton 
{
    width: 5px;
}

input[type="file"] 
{
    display: none;
}

#FileUpload 
{
    padding: 6px 12px;
    cursor: pointer;
}

.form-group 
{
    margin-bottom: 10px;
}

.control-label 
{
    max-width: 100px;
    line-height: 97%;
    font-size: .83em;
}