@model Webbsida.ViewModels.MyEventsViewModel

@{
    ViewBag.Title = "My Events";
}

@*<p>@Html.ActionLink("Create New", "Create", "Event")</p>*@

<h2>@(Model.FirstName + " " + Model.LastName +"'s events")</h2>

<h3>Egna Event</h3>
<div class="EventSummaryContainer">
    @foreach (var @event in Model.EventsOwned)
    {
        @Html.Partial("_EventSummary", @event)
    }
</div>
<hr/>
<div id="BookedEventsContainer">
    <h3>Bokade Event</h3>
    <div class="EventSummaryContainer">
        @foreach (var @event in Model.EventsBooked)
        {
            @Html.Partial("_EventSummaryAvboka", @event)
        }
    </div>
</div>