
@{
    ViewBag.Title = "GeoPicker";
}

<h2>GeoPicker</h2>

<div id="map"></div>

<h3>Debug:</h3>
<form method="post">
    <input type="text" id="lat" readonly="yes"><br>
    <input type="text" id="lng" readonly="yes">
</form>
<button id="getAddressButton">Get the address for this location!</button>

<h3>Get coordinates from an address:</h3>
<input type="text" id="input_address"/>
<button id="setMarkerFromAddressButton">Get Coordinates for this adress!</button>

@section Scripts {

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlemvE5X2QVIkrj0r4r_rJkLRilNdK9xg&callback=geoPicker"></script>
    <script src="~/Scripts/site/geoScripts.js"></script>
    <script>
        $(function () {
            document.getElementById('getAddressButton').addEventListener('click', function () {
                getAddressFromCoordinates();
            });

            document.getElementById('setMarkerFromAddressButton').addEventListener('click', function () {
                setMarkerByUserInputAddress();
            });
        });
    </script>

}
