
@{
    ViewBag.Title = "GeoPicker";
}

<h2>GeoPicker</h2>

<div id="map"></div>

<form method="post">
    <input type="text" id="lat" readonly="yes"><br>
    <input type="text" id="lng" readonly="yes">
</form>

@section Scripts {

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlemvE5X2QVIkrj0r4r_rJkLRilNdK9xg&callback=geoPicker"
            async defer></script>
    <script src="~/Scripts/site/geoScripts.js"></script>
    <script>
        $(function () {
            // async callback from googleapis above...
        });
    </script>

}
