@{
    ViewBag.Title = "Geo";
}

<h2>Event nära dig!</h2>

<div id="map"></div>

@section Scripts {

    <script src="~/Scripts/site/geoScriptsV2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlemvE5X2QVIkrj0r4r_rJkLRilNdK9xg&callback=GoogleMapsEventController.initAllEventsDisplayingMap"
    async defer></script>
    <script>
        $(function () {
            var url = "/Geo/Index/";
            $.get(url, { query: null });
        });
    </script>
    
}

