@{
    ViewBag.Title = "Glömt bekräfta lösenord";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Snälla kontrolleta din e-post för att nollställa ditt lösenord.
        
    </p>
</div>
	
