@model Webbsida.ViewModels.IndexEventViewModel

<div id="EventSummary">
    <a href="@Url.Action("GetEvent","Event", new {id = @Model.Id})">
        <img src=@Model.ImagePath>

        <div id="EventText">
            <h1>@Model.Name</h1>
            <p>@Model.GetPartialDescription(30)</p>
        </div>
    </a>
</div>
