@model Webbsida.ViewModels.IndexEventViewModel

@if (!string.IsNullOrWhiteSpace(Model.Name) && !string.IsNullOrWhiteSpace(Model.Description))
{
    <div id="EventSummary">
        <a href="@Url.Action("GetEvent", "Event", new {id = @Model.Id})">
            <img src=@Model.ImagePath>

            <div id="EventText">
                <h1>@Model.Name</h1>
                <p>@Model.GetPartialDescription(30)</p>
            </div>
            @if (string.Equals(ViewBag.Title, "My Events"))
            {
                <button>FUCKNUGGET</button>
            }

        </a>
    </div>
}
else
{
    <div id="EventSummary" style="border-style: none; border: none; box-shadow: none;"></div>
}
