<li role="presentation">
    <div id="EventSearch">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
            <input type="text" id="EventSearch" onkeyup="LoadFromInput()" />
        </span>
    </div>
</li>
