<li role="presentation">
    <div id="EventSearch">
        <input type="text" id="EventSearchBox" onkeyup="PopulateDropDown()" list="SearchDropDown"/>
        <datalist id="SearchDropDown"></datalist>
        <button id="SearchButton" onclick="LoadFromInput()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
</li>
