<li role="presentation">
    <div id="EventSearch">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
            <input type="text" id="EventSearchBox" onkeyup="PopulateDropDown()" onkeydown="return LoadFromInput()" list="SearchDropDown"/>
            <datalist id="SearchDropDown"></datalist>
        </span>
    </div>
</li>
