<li role="presentation">
        <fieldset id="EventSearch">
            <input type="text" id="EventSearchBox" onkeyup="PopulateDropDown()" list="SearchDropDown" />
            <datalist id="SearchDropDown"></datalist>
            <div id="SearchButton" onclick="LoadFromInput()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </fieldset>
</li>
