@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Netstängd.</h1>
    <h2 class="text-danger">Detta konto har blivet nerstängs, försök gärna senare.</h2>
</hgroup>
